/* 
    Document   : main
    Created on : 9 sept. 2013, 20:57:56
    Author     : ogda
    Description:
        Purpose of the stylesheet follows.
*/

body
{ 
    background-color: #212121; 
    margin: 0px;
    padding: 0px;
}

a
{
    color: lightgrey;
    text-decoration: none;
}


h2
{
    color: #fa9f00;
    font: 30px Helvetica, Sans-Serif; 
    margin: 0 0 10px 0;
    margin-top: 5px;
    text-align: center; 
}

/*
    HEADER
*/

#titleContainer
{
    box-shadow: 0px 0px 5px #000;
    color: lightgrey;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

#menuContainer
{
    background-color: #333333;
    height: 35px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: -1;
}

/*
    MAiN CONTENT
*/

#mainContent
{
    box-shadow: 0 0 5px #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#showChooser
{
    color: lightgrey;
    margin-right:10px;
    width:150px;
}

.showBox_visible
{
    margin-top: 5px;
    opacity: 1.0;
}

.showBox_hidden
{
    margin-top: 5px;
    opacity: 0.5;
}

#videoPlayer
{
    margin-left: 160px;
    width: 640px;
}

#video_playlist
{
    display: inline-block;
    vertical-align: middle;
}

#showBox_visible
{
    opacity: 1.0;
}

#showBox_hidden
{
    opacity: 0.5;
}

#videoTitle
{
    color: lightgray;
}

.footer
{
    bottom: 0px;
    font-size: 12px;
    height: 65px;
    position: fixed;
    width: 100%;
}

.footer_expanded
{    
    bottom: 0px;
    font-size: 12px;
    height: 210px;
    height: 300px;
    position: fixed;
    position: fixed;
    width: 100%;
    width: 100%;
}

#footer_content
{
    background-color: #333333;
    box-shadow: 0px 0px 5px #000;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

#tabs
{

    background-color: #333333;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0px 0px 5px #000;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 240px;
    z-index: 1;
}

#about_help_button
{
    margin-left: 5px;
    margin-right: 5px;
    width: 90px;
}

.footer_speechpart
{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 350px;
}

.footer_text_area
{
    color: lightgray;
    
    margin-left: 10px;
    margin-left: auto;
    margin-right: 10px;
    margin-right: auto;
    width: 860px;
}

#shadow_hidder
{
    background-color: #333333;
    color: lightgray;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    width: 240px;
    z-index: 2;
}


/*
    CHAT RELATED
*/

#page-wrap                      
{
    margin: 30px auto;
    position: relative; 
    width: 500px;
}

#chat-wrap                      
{ 
    border: 1px solid #eee;
    margin: 0 0 15px 0;
}

#chat-area 
{
    background: white;
    border: 1px solid #666; 
    height: 110px;
    overflow: auto;
    padding: 20px;
}

#chat-area span
{
    background: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 8px; 
    color: white;
    margin: 0 5px 0 0;
    padding: 1px 5px; 
}

#chat-area p                    
{ 
    border-bottom: 1px solid #ccc;
    color: darkgray; 
    padding: 8px 0;
}

#name-area                      
{ 
    color: white; 
    font: bold 12px "Lucida Grande", Sans-Serif; 
    text-align: left;
    top: 12px; 
}   
#name-area span                 
{ 
    color: #fa9f00;
}

#send-message-area p            
{ 
    color: white; 
    float: left; 
    font-size: 14px; 
    padding-top: 15px; 
}

#send-message-area
{
    height: 30px;
}

#sendie                         
{ 
    border: 3px solid #999;
    font: 12px "Lucida Grande", Sans-Serif; 
    margin-left: 50px; 
    width: 78%; 
}

#chat_discussion_area
{
    margin-top: 10px;
}

#your_message
{
    width: 110px;
}

#nickname_textarea
{
    height: 20px;
    max-height: 20px;
    max-width: 150px;
    width: 150px;
}

#chat
{
    margin-right: auto;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

#chat *
{
    padding: 0;
}

#name_chooser
{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#nickname_form
{
    margin-top: 10px;
}

#playlistMaker
{

}

#pathFinder {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 70%;
    overflow: scroll;
    width: 200px;

}